.navbar {
    background-color: #ffa8fb;
    overflow: hidden;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

h1 {
    font-size: 35px;
    color: black;
}

body {
    background-image: linear-gradient(to right, white , hotpink);
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

